{% extends 'base2.html.twig' %}
{% block body %}
	<section>
		<div class="section-inner">
			<div class="container">
				<div class="col-md-12">
					<ul class="portfolio-items nopadding-lr isotope list-unstyled">
						<li class="col-sm-4 col-xs-12 portfolio-item nopadding-lr apps isotope-item">
							<div class="hover-item">
								<a href=""><img src="{{ asset('uploads/images/' ~ produit.image) }}" class="img-responsive smoothie" alt=""></a>
								<div class="overlay-item-caption smoothie"></div>
								<div class="hover-item-caption smoothie">
									<div class="vertical-center smoothie">
										<h3 class="smoothie mb30">
											<a href="single-portfolio-fullscreen.html" title="view project">{{produit.nomproduit}}</a>
										</h3>
									</div>
								</div>

							</div>
						</li>

						<li>
							<div class="col-sm-4 wow fadeIn" data-wow-delay="0.2s">
								<div class="icon-box-1 match-height mb30">
									<i class="fa-4x pe-7s-headphones"></i>
									<div class="content-area">
										<h3 class="title">QUANTITE:&nbsp;&nbsp;{{ produit.quantite }}</h3>
									</div>
								</div>
							</div>
							<br><br><br><br>
							<div class="col-sm-4 wow fadeIn" data-wow-delay="0.2s">
								<div class="icon-box-1 match-height mb30">
									<i class="fa-4x pe-7s-headphones"></i>
									<div class="content-area">

										<h3 class="title">
											PRIX:&nbsp;&nbsp;{{ produit.prix }}</h3>
									</div>
								</div>
							</div>
							<br><br><br><br>
							<div class="col-sm-4 wow fadeIn" data-wow-delay="0.2s">
								<div class="icon-box-1 match-height mb30">
									<i class="fa-4x pe-7s-headphones"></i>
									<div class="content-area">
										<h3 class="title">Categorie:&nbsp;&nbsp;{{ produit.catName }}</h3>
									</div>
								</div>
							</div>

							<br><br><br><br>
							<div class="col-sm-9 wow fadeIn" data-wow-delay="0.2s">
								<div class="icon-box-1 match-height mb30">
									<i class="fa-3x pe-7s-headphones"></i>
									<div class="content-area">
										<h3 class="title">User Rating</h3>

										<span id='id1' class="fa fa-star checked"></span>
										<span id='id2' class="fa fa-star checked"></span>
										<span id='id3' class="fa fa-star checked"></span>
										<span id='id4' class="fa fa-star checked"></span>
										<span id='id5' class="fa fa-star"></span>

										<p>4.1 average based on 254 reviews.</p>
										<hr style="border:3px solid #f1f1f1">

										<div class="row">
											<div class="side">
												<div>5 star</div>
											</div>
											<div class="middle">
												<div class="bar-container">
													<div class="bar-5"></div>
												</div>
											</div>
											<div class="side right">
												<div>150</div>
											</div>
											<div class="side">
												<div>4 star</div>
											</div>
											<div class="middle">
												<div class="bar-container">
													<div class="bar-4"></div>
												</div>
											</div>
											<div class="side right">
												<div>63</div>
											</div>
											<div class="side">
												<div>3 star</div>
											</div>
											<div class="middle">
												<div class="bar-container">
													<div class="bar-3"></div>
												</div>
											</div>
											<div class="side right">
												<div>15</div>
											</div>
											<div class="side">
												<div>2 star</div>
											</div>
											<div class="middle">
												<div class="bar-container">
													<div class="bar-2"></div>
												</div>
											</div>
											<div class="side right">
												<div>6</div>
											</div>
											<div class="side">
												<div>1 star</div>
											</div>
											<div class="middle">
												<div class="bar-container">
													<div class="bar-1"></div>
												</div>
											</div>
											<div class="side right">
												<div>20</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block add_css %}
	<style>
		* {
			box-sizing: border-box;
		}


		.fa {
			font-size: 25px;
		}

		.checked {
			color: orange;
		}

		/* Three column layout */
		.side {
			float: left;
			width: 15%;
			margin-top: 10px;
		}

		.middle {
			float: left;
			width: 70%;
			margin-top: 10px;
		}

		/* Place text to the right */
		.right {
			text-align: right;
		}

		/* Clear floats after the columns */
		.row:after {
			content: "";
			display: table;
			clear: both;
		}

		/* The bar container */
		.bar-container {
			width: 100%;
			background-color: #f1f1f1;
			text-align: center;
			color: white;
		}

		/* Individual bars */
		.bar-5 {
			width: 60%;
			height: 18px;
			background-color: #4CAF50;
		}
		.bar-4 {
			width: 30%;
			height: 18px;
			background-color: #2196F3;
		}
		.bar-3 {
			width: 10%;
			height: 18px;
			background-color: #00bcd4;
		}
		.bar-2 {
			width: 4%;
			height: 18px;
			background-color: #ff9800;
		}
		.bar-1 {
			width: 15%;
			height: 18px;
			background-color: #f44336;
		}

		/* Responsive layout - make the columns stack on top of each other instead of next to each other */
		@media(max-width: 400px) {
			.side,
			.middle {
				width: 100%;
			}
			/* Hide the right column on small screens */
			.right {
				display: none;
			}
		}
	</style>
{% endblock %}
{% block js %}

	<script>
		spans = document.querySelectorAll('span[class*="fa fa-star"]')
spans.forEach(sp => sp.addEventListener("click", function () {
id = sp.getAttribute('id');
spans.forEach(element => {
id2 = element.getAttribute('id');
if (id2 <= id) {
element.classList.add('checked');
} else {
element.classList.remove('checked');
}


});
}));
	</script>

{% endblock %}
