<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table border="1">
    <tr>
        <td>id</td>
        <td>depart</td>
        <td>destination</td>
        <td>nombre participants</td>

        <td>prix</td>
        <td>programme</td>
        <td>contact</td>
        <td>informations</td>
        <td>type</td>
        <td>circuit</td>
        <td></td>
        <td></td>

    </tr>

    <tr {% for e in evenement1 %}>
        <td>{{ e.id }}</td>
        <td>{{ e.depart }}</td>
        <td>{{ e.destination }}</td>
        <td>{{ e.nbparticipant }}</td>


        <td>{{ e.prix }}</td>
        <td>{{ e.programme }}</td>
        <td>{{ e.contact }}</td>
        <td>{{ e.infos }}</td>
        <td>{{ e.type }}</td>
        <td>{{ e.circuit }}</td>
        <td><a href="{{ path ('delete',{'id':e.id}) }}">Supprimer</a></td>
        <td><a href="{{ path ('updateevent',{'id':e.id}) }}">Modifier</a></td>
    </tr {% endfor %}>

</table>
</body>
</html>
