<form action="{{ path('rechercher') }}" method="post">
    <label >rechercher</label>
    <input type="text" name="searchcmd"><input type="submit" value="rechercher">
</form>
<td><a href="{{ path('AddCommande') }}">ajouter</a></td>
<table border="1">
    <tr>

        <td>Reference</td>
        <td>date</td>
        <td>etat</td>
    </tr>
    <tr {% for c in commande %}>
        <td>{{ c.refcommande }}</td>
        <td>{{ c.datecommande|date('Y-m-d H:i:s') }}</td>
        <td>{{ c.etat }}</td>
            <td><a href="{{ path('updated',{'refcommande':c.refcommande}) }}">modifier</a></td>
        <td><a href="{{ path('del',{'refcommande':c.refcommande}) }}">supprimer</a></td>
    </tr{% endfor %}>
</table>



