{% extends 'base3.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
    <div class="bg-light p-3">
        <h1>Votre panier</h1>
    </div>
    {% if items | length > 0 %}
     <table class="table">
         <thead>
         <tr>
             <th>Produit</th>
             <th>Prix</th>
             <th>Quantité</th>
             <th>Total</th>
             <th></th>
         </tr>
         </thead>
         <tbody>
         {% for item in items  %}
             <tr>
                 <td>{{ item.produit.nomproduit }}</td>
                 <td>{{ item.produit.Prix }}</td>
                 <td>{{ item.quantite }}</td>
                 <td>{{ item.produit.Prix * item.quantite  }}</td>
                 <td>
                    
 <a href="{{ path('cart_remove',{'id' : item.produit.numproduit}) }}" class="smoothie btn btn-danger"">Supprimer
                         
                     </a>
                     
                     <a href="{{ path('AddCommande') }}" class="smoothie btn btn-success">Commander</a>

                 </td>
             </tr>
         {% endfor %}
         </tbody>
         <tfoot>
         <tr>
             <td colspan="3" class="text-right">Total : </tdcolspan>
             <td>{{ total }}</td>
             <td></td>
         </tr>
         </tfoot>
     </table>
        {% else %}
            <p>Surprise, c'est vide !</p>

    {% endif %}

{% endblock %}
